.profile-container {
    max-width: 500px;
    margin: 5% auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }
  
  .profile-body p {
    margin-bottom: 20px;
    text-align: left;
  }
  .profile-element{
    display: flex;
    justify-content: space-between;
  }
  