.container{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    height: 100%;
    background-color: aliceblue;   
}
.announcement{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    justify-content: center;
    height: 100%;
}
